@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vai&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #373f57b7;
    background: -webkit-linear-gradient(to right, #4f5263, #252e44); 
    background: linear-gradient(to right, #484d6d, #333744); 
    font-family: 'Noto Sans Vai', sans-serif;
}
.galeria-modal{
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.466); */
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;  
    padding: 4%; 
    visibility: hidden;
    z-index: 5;
    display: flex;
}
.span-galeria-modal{
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: rgb(146, 26, 26);
    cursor: pointer;
}
.span-galeria-modal:hover{
    transform: scale(1.2);
}
.galeria-modal img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
}
.section-principal{
    min-height: 100vh;
    width: 100%;
}
.div-principal{
    width: 100%;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 30vh;
}

.figure-modal{
    border-radius: 8px;
    border: none;
    margin: 0.5vw;
    overflow: hidden;
}
.h-2{
    grid-row: span 2;
}
.w-2{
    grid-column: span 2;
}

.div-principal .figure-modal .img-class{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
}
.img-class:hover{
    transform: scale(1.1);
    transition: transform 0.25s ease-in-out;
}

@media screen and (max-width: 1024px) {
    .div-principal{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 25vh;
    }
}
@media screen and (max-width: 540px) {
    .div-principal{
       display: flex;
       flex-direction: column;
    }
}